/* COMMON */
html{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
}

img{
    max-width: 100%;
}

.ms_container-small{
    width: 80%;
    margin: 0 auto;
}

/* Variables */
:root{
    /* Palette */
    --ms-color-header: #2C3E50;
    --ms-color-footer: #3A546D;
    --ms-color-acquamarine: #1ABC9C;
    --ms-color-grey: #888888;
}

/* Background */
.ms_bg-header{
    background-color: var(--ms-color-header);
}

.ms_bg-footer{
    background-color: var(--ms-color-footer);
}

.ms_bg-acquamarine{
    background-color: var(--ms-color-acquamarine);
}

/* Buttons */
.ms_btn{
    display: inline-block;
    border: 1px solid white;
    color: white;
    text-align: center;
}


.ms_btn-social{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid white;
    color: white;
    text-align: center;
}

.ms_btn-social:hover{
    transform: scale(1.2);
    color: white;
}

/* Btn white Hover */
.btn:first-child:hover{
    border-color: white;
    transform: scale(1.2);
}

/* Btn acquamarine Hover */
:not(.btn-check)+.btn:hover{
    background-color: var(--ms-color-acquamarine);
    transform: scale(1.2);
}

/* Stars */
.stars{
    font-size: 1.5rem;
    vertical-align: middle;
}

.stars::after,
.stars::before{
    content: "";
    display: inline-block;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    vertical-align: middle;
    margin: 0 .5em;
}

.stars.dark::after,
.stars.dark::before{
    background-color: black;
}

/* HEADER */
header .ms_menu-list li{
    display: inline-block;
    padding: 0 .5em;
}

header .ms_menu-list li a{
    text-decoration: none;
    color: inherit;
}

.ms_menu-list li:hover{
    color: var(--ms-color-grey);
}

.ms_hamburger i{
    padding: .5em .8em;
    border: 1px solid var(--ms-color-grey);
    border-radius: 5px;
}

/* MAIN */
/* Jumbotron */
#jumbotron img{
    width: 250px;
}

#jumbotron ul li{
    display: inline-block;
}

/* Contact */
/* form */
textarea.form-control{
    min-height: 150px;
}

.form-control{
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.form-control:focus{
    box-shadow: none;
    border-color: var(--ms-color-grey);
}