/* COMMON */
html{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
}

/* Variables */
:root{
    /* Palette */
    --bg-header: #2C3E50;
    --bg-footer: #3A546D;
    
    --bg-acquamarine: #1ABC9C;
    --bg-red: #BA4B63;
    --bg-light-blue: #1EA4B6;
    --bg-blue: #1C83C1;
    --bg-dark-blue: #0E38B5;
    --bg-light-orange: #CCB2A3;
    --grey: #888888;
}

/* HEADER */
header{
    color: white;
    background-color: var(--bg-header);
}

header ul li{
    display: inline-block;
    padding: 0 .5em;
}

header ul li a{
    text-decoration: none;
    color: inherit;
}

header .hamburger{
    color: var(--grey);
    text-align: center;
}

.hamburger i{
    padding: .5em .8em;
    border: 1px solid var(--grey);
    border-radius: 5px;
}
